html {
  font-family: "xingothic-tc-w4", "XinGothic-TC W4", "LantingHei TC", "Apple LiGothic", "Microsoft JhengHei", sans-serif;
}

#navigation {
  width: 100%;
  z-index: 10;
  height: 150px;
  background-color: rgba(70, 70, 70, 0.9);
  position: fixed;
}
#navigation ul {
  margin-left: 5%;
  margin-right: 10%;
  text-align: right;
  vertical-align: middle;
  line-height: 60px;
}
#navigation ul li {
  vertical-align: middle;
  display: inline;
  padding: 10px 25px 10px 25px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 17px;
  border-radius: 2px;
  transition: background-color 300ms linear 0;
}
#navigation ul li:hover {
  background-color: rgba(255, 255, 255, 0.35);
}
#navigation ul li a {
  color: #f0f0f0;
}
