html {
  font-family: allan, sans-serif;
}

#navigation {
  position: fixed;
  width: 100%;
  background-color: rgba(242, 242, 242, 0.7);
}
@media screen and (min-width: 320px) {
  #navigation {
    height: 150px;
  }
}
@media screen and (min-width: 768px) {
  #navigation {
    height: 200px;
  }
}
@media screen and (min-width: 320px) {
  #navigation #logo {
    margin-left: 35px;
  }
}
@media screen and (min-width: 768px) {
  #navigation #logo {
    margin-left: 3%;
  }
}
@media screen and (min-width: 992px) {
  #navigation #logo {
    margin-left: 5%;
  }
}
@media screen and (min-width: 1200px) {
  #navigation #logo {
    margin-left: 10%;
  }
}
#navigation #logo .logo-text {
  display: inline;
  position: absolute;
}
@media screen and (min-width: 320px) {
  #navigation #logo .logo-text {
    top: 25px;
    left: 140px;
  }
}
@media screen and (min-width: 768px) {
  #navigation #logo .logo-text {
    top: 40px;
    left: 180px;
  }
}
@media screen and (min-width: 992px) {
  #navigation #logo .logo-text {
    top: 60px;
    left: 250px;
  }
}
@media screen and (min-width: 1200px) {
  #navigation #logo .logo-text {
    top: 60px;
    left: 380px;
  }
}
#navigation #logo .logo-text p {
  line-height: 10px;
}
#navigation #logo .logo-text h1 {
  line-height: 30px;
  margin-bottom: 0px;
}
@media screen and (min-width: 320px) {
  #navigation #logo img {
    width: 75px;
    height: 75px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  #navigation #logo img {
    width: 120px;
    height: 120px;
    margin-top: 25px;
  }
}
@media screen and (min-width: 992px) {
  #navigation #logo img {
    width: 150px;
    height: 150px;
    margin-top: 25px;
  }
}
#navigation ul {
  position: absolute;
  line-height: 50px;
  list-style: none;
  bottom: 0;
  right: 0;
}
@media screen and (min-width: 320px) {
  #navigation ul {
    margin-right: 50px;
  }
}
@media screen and (min-width: 768px) {
  #navigation ul {
    margin-right: 3%;
  }
}
@media screen and (min-width: 992px) {
  #navigation ul {
    margin-right: 5%;
  }
}
@media screen and (min-width: 1200px) {
  #navigation ul {
    margin-right: 10%;
  }
}
#navigation ul li {
  display: inline;
  text-align: center;
  font-size: 25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}
#navigation ul li a {
  color: rgba(13, 12, 12, 0.9);
  text-decoration: none;
}
