html, body {
    font-family: overlock-sc, sans-serif;
    font-size: 15px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.main {
    height: 100%;
    padding-top: 120px;
    @media screen and (min-width: $device-screen-iphone4) {
        padding: {
            top: 140px;
        }
    }
    @media screen and (min-width: $device-screen-small) {
        padding: {
            top: 160px;
        }
    }
    @media screen and (min-width: $device-screen-medium) {
        padding: {
            top: 200px;
        }
    }
    @media screen and (min-width: $device-screen-large) {
        padding: {
            top: 200px;
        }
    }
}
.container {
    padding: {
        top: 50px;
        bottom: 50px;
    }
    p {
        text-indent: 50px;
        line-height: 40px;
    }
}
section {
    min-height: 100%;
    width: 100%;
    .container .container {
        width: 90%;
    }
}
.re-btn {
    margin: auto;
    a {
        margin: 25px;
        padding: {
            top: 20px;
            bottom: 20px;
            left: 30px;
            right: 30px;
        }
    }
}

footer {
    text-align: center;
    font: {
        size: 18px;
    }
    background: {
        color: hsla(0, 1%, 15%, .8);
    }
    color: hsla(0, 1%, 100%, .95);
}
.icon-badge {
    color: hsla(0, 1%, 15%, .8);
    width: 55px;
    height: 55px;
    padding: 10px;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    background-color: #fff;
    //Instead of the line below you could use @includeborder-top-right-radius($radius)
    border-top-right-radius: 50%;
    //Instead of the line below you could use @includeborder-top-left-radius($radius)
    border-top-left-radius: 50%;
    //Instead of the line below you could use @includeborder-bottom-right-radius($radius)
    border-bottom-right-radius: 50%;
    //Instead of the line below you could use @includeborder-bottom-left-radius($radius)
    border-bottom-left-radius: 50%;   
}

.icon-panel
{
    a
    {
        margin:20px;
        display:inline-block;
    }
    
}

.icon-facebook:before {
    content: "\e498";
}