#navigation {
    position: fixed;
    z-index: 10;
    width: 100%;
    @media screen and (min-width: $device-screen-small) {
        height: 200px;
    }
    background: {
        color: hsla(0, 0%, 95%, .7);
    }
    #logo {
        margin: {
            left: 35px;
        }
        @media screen and (max-width: $device-screen-small) {
            display: none;
        }
        @media screen and (min-width: $device-screen-small) {
            display: block;
            margin: {
                left: 3%;
            }
        }
        @media screen and (min-width: $device-screen-medium) {
            margin: {
                left: 5%;
            }
        }
        @media screen and (min-width: $device-screen-large) {
            margin: {} left: 10%;
        }
        .logo-text {
            display: inline;
            position: absolute;
            @media screen and (min-width: $device-screen-small) {
                top: 40px;
                left: 180px;
            }
            @media screen and (min-width: $device-screen-medium) {
                top: 60px;
                left: 250px;
            }
            @media screen and (min-width: $device-screen-large) {
                top: 60px;
                left: 300px;
            }
            p {
                line-height: 10px;
                @media screen and (min-width: $device-screen-iphone4) {
                    margin-top: 15px;
                }
                @media screen and (min-width: $device-screen-small) {
                    margin-top: 20px;
                }
                @media screen and (min-width: $device-screen-medium) {
                    margin-top: 20px;
                }
            }
            h1 {
                line-height: 30px;
                margin-bottom: 0px;
            }
        }
        img {
            width: 75px;
            height: 75px;
            margin: {
                top: 30px;
            }
            @media screen and (min-width: $device-screen-small) {
                width: 120px;
                height: 120px;
                margin-top: 25px;
            }
            @media screen and (min-width: $device-screen-medium) {
                width: 150px;
                height: 150px;
                margin-top: 25px;
            }
        }
    }
    .logo-hide
    {
        display:none;
    }
    ul {
        @media screen and (max-width: $device-screen-small) {
            background: {
                color: hsla(0, 0%, 95%, .7);
            }
        }
        list-style: none;
        @media screen and (min-width: $device-screen-small) {
            line-height: 50px;
            width: initial;
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 3%;
        }
        @media screen and (min-width: $device-screen-medium) {
            margin-right: 5%;
        }
        @media screen and (min-width: $device-screen-large) {
            margin-right: 10%;
        }
        li {
            z-index:99;
            display: inline;
            font: {
                size: 25px;
            }
            @media screen and (max-width: $device-screen-small) {
                line-height: 28px;
            }
            @media screen and (min-width: $device-screen-small) {
                padding: 5px;
                text-align: center;
            }
            a {
                background-color: rgba(0, 0, 0, 0);
                color: hsla(5, 3%, 5%, .9);
                text-decoration: none;
            }
        }
    }
}



.navigation-short
{
    height: 70px !important;
}
